<h1> File/Store Information </h1>
<div class="info">
  <h2> Filename: <%= @store.filename %> </h2>
  <h2> Location: <%= @store.location %> </h2>
  <h3> Public  : <%= @store.public %> </h2>
</div>

<div class="links">
  <tr>
    <td>
      <%= link_to "edit", edit_store_path(@store) %>
    </td>
    <td>
      <%= link_to "delete",store_path(@store), method: :delete %>
    </td>
    <td>
      <%= link_to "download", download_path(@store) %>
    </td>
  </tr>
</div>

<div class="tags">
  <h5> tags for this file </h5>
  <% @store.tags.each do |tag| %>
    <ul>
      <%= link_to tag.name, tag_path(tag), :file => @store %>
      <%= link_to "remove tag", tag_path(tag, :file => @store.id), method: :delete %>
    </ul>
  <% end %>
</div>

<div class="form">
  <h5> add a tag to this file </h5>
  <%= form_for(@tag) do |f| %>
    <div class="fields">
      <%= f.text_field :name %>
      <%= f.hidden_field :file, :value => @store.id %>
    </div>

    <div class="actions">
      <%= f.submit "add tag!!" %>
    </div>
  <% end %>
</div>

